

.content {
  height: calc(100vh - 70px);
}
nav {
  height: 100%;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.478);
  color: rgb(255, 255, 255);
  margin-left: 0;
  transition: 0.7s;
}

nav.hide {
  margin-left: -260px;
}

nav .list-group li {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-bottom: 0;
  border-radius: 10px !important;
  margin-bottom: 8px;
  cursor: pointer;
}

main {
  flex: 1;
}
.left-s{
  margin-left: 550px;
  margin-top: 100px;
}